streamlit>=1.35.0
hdbcli==2.17.*
hana-ml
cfenv==0.5.3
python-dotenv
sap-ai-sdk-gen
langchain~=0.3.25
langchain-core~=0.3.25
langchain-community~=0.3.25
langchain-openai>=0.3.7
pandas
openpyxl
pypdf
beautifulsoup4
requests
tabulate
